{%  extends 'backend/base/index.html' %}
{% load static %}
<head>
    {% block style %}
    {% endblock %}
 </head>
{% block main %}
<div id="pageContent">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb align-items-center mb-4">
        <li class="breadcrumb-item">
            <a class="font-md icon-size text-dark" href="{% url 'home' %}">
            <i class="fa fa-home">
            </i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
            Data Records
            </a>
        </li>
        <li aria-current="page" class="breadcrumb-item active">
            <a href="{% url 'data_landing_course' %}">
            Course Management Data
            </a>
        </li>
        <li aria-current="page" class="breadcrumb-item active">
            Create Course
        </li>
        </ol>
    </nav>

    <div class="col-md-12">
        <div class="card">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="form-group row pt-5">
                            <div class="col-sm-12">
                                <h5 class="text-center">Create Course</h5>
                            </div>
                        </div>
                        <div class="form-group row">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'success' %}
                                    <div class="col-sm-12 alert alert-success" id="message_container" role="alert">
                                        <p class="{{ message.tags }}" style="text-align: center;">{{ message }}</p>
                                    </div>
                                    {% else %}
                                    <div class="col-sm-12 alert alert-danger" id="message_container" role="alert">
                                        <p class="{{ message.tags }}" style="text-align: center;">{{ message }}</p>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12 p-5">
                        <form action="{% url 'data_landing_add_course'%}" method="POST"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Course Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab" aria-controls="others" aria-selected="false">Others</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent" >
                                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab" >
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label >Title:</label>
                                                <input type="text" class="form-control" name="title" >
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label >Code:</label>
                                                <small class="text-white bg-info">Must be Unique! </small>
                                                <input type="text" class="form-control" name="Code" />
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label >Instructor:</label><br>
                                                <input type="text" class="form-control" value="{{request.user}}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                              <label>Description:</label>
                                              <textarea class="form-control" name="Description" rows="5" style="resize: none"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label >DateStart:</label>
                                                <input type="datetime" class="form-control datetimefield" name="DateStart" placeholder="Select a start date.">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label >DateEnd:</label>
                                                <input type="datetime" class="form-control datetimefield" name="DateEnd"  placeholder="Select a end date.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a class="btn btn-danger" href="{% url 'data_landing_course' %}" style="color:white; margin: 5px;">Back</a>
                                        <a class="btn btn-primary btnNext float-right" style="color:white; margin: 5px;">Next</a>
                                        <!-- <a class="btn btn-danger btnPrevious float-right"  style="color:white; margin: 5px;">Previous</a> -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab" >
                                    <div class="form-group ">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label >University:</label>
                                                <select class="form-control"  aria-label="Default" name="University">
                                                    {% for value in add_course_form.University.field.choices %}
                                                        <option value="{{value.0}}">{{value.1}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="faculty">Faculty:</label>
                                                <select class="form-control"  aria-label="Default" name="Faculty">
                                                    {% for value in add_course_form.Faculty.field.choices %}
                                                    <option value="{{value.0}}">{{value.1}}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <div class="form-row" >
                                                <div class="form-group col-md-6">
                                                    <label for="img">Display Image:</label>
                                                    <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);" name="DisplayPhoto">
                                                    <div class="preview" style="height: 250px;">
                                                        <img id="file-ip-1-preview">
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary float-right" type="submit" style="color:white; margin: 5px;">Add Course</button>
                                        <a class="btn btn-danger btnPrevious float-right"  style="color:white; margin: 5px;">Previous</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block plugin %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       $(".btnNext").click(function () {
          $(".nav-tabs .active").parent().next("li").find("a").trigger("click");
       });
 
       $(".btnPrevious").click(function () {
          $(".nav-tabs .active").parent().prev("li").find("a").trigger("click");
       });
    });
 </script>
{% endblock %}
